.knowUs {
    min-height: 400px;
    background-color: $gris;
}
.knowUs h1 {
    color: $azul;
    font-size: 28px;
}
.text-knowUs {
    text-align: center;
}
.text-knowUs p {
    font-size: 22px;
}
.text-knowUs b,
.text-knowUs strong {
    font-size: 22px;
}